*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}
.sidebar-toggle{
    font-size: 30px;
    background: transparent;
    border: none;
    padding: 2rem;
    position: absolute;
    right: 0;
    transition: all 0.3s linear;
    animation: bounce 3s ease-in-out infinite;
}
.sidebar-toggle:hover{
    color: aqua;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.sidebar {
    width: 450px;
    background-color: white;
    height: 100vh;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.624);
    position: fixed;  
    top: 0;
    left: -470px;    
    transition: left 0.3s ease-in-out;
}

.opensidebar {
    left: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.3);
}
.close-btn{
    font-size: 30px;
    background: transparent;
    border: none;
    color: red;
    transition: all 0.3s linear;
}
.close-btn:hover{
    color: rgba(255, 0, 0, 0.393);
    transform: rotate(360deg);
}

.links a{
    display: block;
    padding: 1rem 2rem;
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s linear;
}
.links a:hover{
    padding-left:3rem;
    background-color: rgba(0, 110, 255, 0.358);
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: 80%;
}
.social-icons a{
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
}
.social-icons a:hover{
    color: hsl(218, 79%, 50%);
}